.moviesList{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  
}
@media screen and (max-width: 800px) {
    .moviesList  {
      background-color: blue;
      /* display:block; */
    }
  }